*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*** 
    Font Size Should be default 10px 
    But px is a bad coading practice
    so it should be convert percentage
    Here 16px is default browser font-size 
      & 10px is root font-size 
    Like- (10px / 16px) =  0.625px * 100 % = 62.5% 
    It should be 62.5%

    1rem = 10px;
    1em  = 16px;
  */

  // This defines 1 rem is Global
  font-size: 62.5%; // 1rem = 10px; (10px/16px) * 100% = 62.5%;

  @include respond(tab-land) {
    // width < 1200px;
    font-size: 56.25%; // 1rem = 9px; (9px/16px) * 100% = 56.25%;
  }

  @include respond(tab-port) {
    // width < 900px;
    font-size: 50%; // 1rem = 8px; (8px/16px) * 100% = 50%;
  }

  // @include respond(phone) {         // width < 600px;
  //   font-size: 30%;                // 1rem = 4.8px; (4.8px/16px) * 100% = 30%;
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; (12px/16px) * 100% = 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
