// COLORS
$color-primary: #55c57a;
$color-text-gray: #3f4954;
$color-text-light: #686666da;

$color-bg: #0f0f0f;
$color-midnight: #104f55;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;
$title-font-size: 2.5rem;

// Box-Shadow
$default-box-shadow: rgba($color-black, 0.15);

// Gradient Color
$gradient-sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
